<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="iisnode-logs" stopProcessing="true">
          <match url="iisnode/*" />
          <action type="None" />
        </rule>
        <rule name="nodejs" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode nodeProcessCommandLine="C:\Inetpub\vhosts\sithamparam.ch\subdomains\einkaufsliste\httpdocs\node.exe"
             loggingEnabled="true"
             logDirectory="iisnode"
             devErrorsEnabled="true" />
  </system.webServer>
</configuration>
